{% load static %}
{% include 'base.html' %}

<body class="hold-transition sidebar-mini">

  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Inventory Issuance</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Issue & Receipt</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <form id="myForm" action="{% url 'dvdIssuance' %}" method="post" class="needs-validation"
                      enctype="multipart/form-data" novalidate>
                      {% csrf_token %}

                      <!-- Form fields -->
                      <div class="form-row">
                        <label for="dvd_id" class="col-md-4 required-field">DVD ID</label>
                        <div class="form-group col-md-8">
                          <select class="form-control select2bs4" id="dvd_id" name="cd_dvd_id" required>
                            <option value="">Select DVD Name</option>
                            {% for dvd in available_dvds %}
                            <option value="{{ dvd.name }}" data-dvd-id="{{ dvd.pk }}">{{ dvd.name }}</option>
                            {% endfor %}
                          </select>
                          <input type="hidden" id="cd_dvd_id" name="cd_dvd_id"> <!-- Hidden field to store DVD ID -->
                          <div class="invalid-feedback">Please Select the DVD ID First.</div>
                        </div>
                      </div>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">Issued To</label>
                        <div class="form-group col-md-8">
                          <input type="text" class="form-control" id="inputEmail4" placeholder="Issued To"
                            name="issued_to" required>
                          <div class="invalid-feedback">Please enter a name.</div>
                        </div>
                      </div>


                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">ISSUE DATE</label>
                        <div class="form-group col-md-8">
                          <input type="date" class="form-control" id="inputPassword4" name="issue_date" required>
                          <div class="invalid-feedback">Please select a date first</div>
                        </div>
                      </div>
                      <br>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4">Remarks</label>
                        <div class="form-group col-md-8">
                          <input type="text" class="form-control" id="inputEmail4" placeholder="Remarks" name="remarks">
                        </div>
                      </div>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4">Returned By</label>
                        <div class="form-group col-md-8">
                          <input type="text" class="form-control" id="inputEmail4" placeholder="Returned By"
                            name="returnedBy">
                        </div>
                      </div>



                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">RETURN DATE</label>
                        <div class="form-group col-md-8">
                          <input type="date" class="form-control" id="inputPassword4" name="return_date">
                          <div class="invalid-feedback">Please select a date first</div>
                        </div>
                      </div>
                      <br>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">Status</label>
                        <div class="form-group col-md-8">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="classification1"
                              value="working" required>
                            <label class="form-check-label" for="classification1">Working</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="classification2"
                              value="outoforder" required>
                            <label class="form-check-label" for="classification2">Out Of Order</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="classification3"
                              value="anyother" required>
                            <label class="form-check-label" for="classification3">Any Other</label>
                          </div>
                          <div class="invalid-feedback">Please select a radio option</div>
                        </div>
                      </div>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">Purpose</label>
                        <div class="form-group col-md-8">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="purpose" id="classification1" value="CIF"
                              required>
                            <label class="form-check-label" for="classification1">CIF</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="purpose" id="classification2"
                              value="eOffice" required>
                            <label class="form-check-label" for="classification2">eOffice</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="purpose" id="classification3"
                              value="media" required>
                            <label class="form-check-label" for="classification3">Media</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="purpose" id="classification4"
                              value="anyother" required>
                            <label class="form-check-label" for="classification4">Any Other</label>
                          </div>
                          <div class="invalid-feedback">Please select a radio option</div>
                        </div>
                      </div>

                      <div class="form-row">
                        <label for="inputEmail4" class="col-md-4 required-field">Return Status</label>
                        <div class="form-group col-md-8">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="return_status" id="classification1"
                              value="returnable" required>
                            <label class="form-check-label" for="classification1">Returnable</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="return_status" id="classification2"
                              value="nonreturnable" required>
                            <label class="form-check-label" for="classification2">Non-Returnable</label>
                          </div>
                          <div class="invalid-feedback">Please select a radio option</div>
                        </div>
                      </div>

                      <!-- File Uploading code section -->
                      <div class="form-row ">
                        <label for="file_upload" class="col-md-4 required-field">Upload File</label>
                        <div class="form-group col-md-8">
                          <input type="file" class="form-control" id="file_upload" name="file_upload"
                            accept=".pdf,.png,.jpeg,.jpg">
                          <div class="invalid-feedback">Please upload a file.</div>
                        </div>
                      </div>



                      <button type="submit" class="btn btn-primary">Add</button>
                      <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
                    </form>
                  </div>

                  <!-- File Preview Section -->
                  <div class="col-md-6 fileUpload">
                    <div id="file_preview" class="border rounded p-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0 Beta
      </div>
      <strong>Copyright &copy; 2024 </strong> All rights
      reserved
    </footer>
  </div>

  <script>
    $(document).ready(function () {
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      toastr.success('{{ message }}');
      {% elif message.tags == 'error' %}
      toastr.error('{{ message }}');
      {% endif %}
      {% endfor %}
      {% endif %}
    });
  </script>


  <script>
    // Enable form validation
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

    // File preview
    $('#file_upload').on('change', function () {
      var fileUploadContainer = document.querySelector('.fileUpload');
      var file = this.files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        var preview = '';
        if (file.type === 'application/pdf') {
          preview = '<embed src="' + e.target.result + '" width="650" height="450" type="application/pdf">';
        } else {
          preview = '<img src="' + e.target.result + '" width="650" height="450" overflow: auto;  height: auto; width: 100%;>';
        }
        fileUploadContainer.style.display = 'block';
        $('#file_preview').html(preview);
      };
      reader.readAsDataURL(file);
    });

    function cancelForm() {
      document.getElementById("myForm").reset();
      $('#file_preview').html('');
      window.history.back();
    }
  </script>



  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })



    })
  </script>


  <script>
    $(document).ready(function () {
      $('#dvd_id').on('change', function () {
        var dvdId = $(this).find(':selected').data('dvd-id');
        $('#cd_dvd_id').val(dvdId);
      });

    });
  </script>


  <style>
    .required-field::after {
      content: "* ";
      color: rgba(244, 77, 77, 0.955);
    }

    .fileUpload {
      display: none;
    }
  </style>

</body>