{% load static %}
{% include 'base.html' %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Confirm Deletion</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Confirm Deletion</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h3>Are you sure you want to delete the following DVD?</h3>

                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <!-- Table header -->
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>CD/DVD NAME</th>
                        <th>SPECS</th>
                        <th>CLASSIFICATION</th>
                        <th>PURCHASE DATE</th>
                        <th>PURCHASED BY</th>
                        <th>Booking Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- Table data -->
                        <td>{{ dvd.id }}</td>
                        <td>{{ dvd.name }}</td>
                        <td>{{ dvd.specs }}</td>
                        <td>{{ dvd.classification }}</td>
                        <td>{{ dvd.purchase_date }}</td>
                        <td>{{ dvd.purchased_by }}</td>
                        <td>{{ dvd.booking_status }}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <!-- Delete button -->
                <a href="{% url 'dvdDeletion' dvd.id %}" class="btn btn-danger">Delete</a>
                <!-- Cancel button -->
                <a href="{% url 'inventory' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0 Beta
      </div>
      <strong>Copyright &copy; 2024 </strong> All rights
      reserved
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

</body>