asgiref==3.8.1
Django==5.0.4
greenlet==3.0.3
jqqb-evaluator==0.0.1
logging==0.4.9.6
mysqlclient==2.2.4
python-dateutil==2.9.0.post0
pytimeparse==1.1.8
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
